@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Source Code Pro', monospace;
  box-sizing: border-box;
}

#particles-js {
  height: 300vh;
}

body {
  height: 100vh;
  background: linear-gradient(to right top, #00ffa3, #00ffa1, #07a15f, #019961)
    fixed;
  background-size: cover;
}

#forma {
  width: 600px;
  background: #1b1b1b;
  padding: 80px 40px;
  border-radius: 10px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: 2s;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.75);
}

#forma h1 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
  color: #00ffa3;
}

.podaci-o-clanu {
  margin-bottom: 10px;
}

.linija {
  width: 530px;
}

.txtb {
  border-bottom: 2px solid #00ffa3;
  position: relative;
  margin: 30px 0;
}

.txtb1 {
  margin-left: 50px;
}

.txtb input {
  font-size: 15px;
  color: #00ffa3;
  border: none;
  width: 100%;
  outline: none;
  background: none;
  padding: 0 5px;
  height: 40px;
}

.txtb span::before {
  content: attr(data-placeholder);
  position: absolute;
  top: 50%;
  left: 5px;
  color: #00ffa3;
  transform: translateY(-50%);
  z-index: -1;
  transition: 0.5s;
}

.focus + span::before {
  top: -5px;
}

p {
  color: #00ffa3;
}

textarea {
  width: 100%;
  background: #f1f1f1;
  border-style: none;
  border-color: transparent;
}

.logbtn {
  display: block;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 30px;
  background-image: linear-gradient(
    to right top,
    #00ffa3,
    #00ffa1,
    #07a15f,
    #019961
  );
  background-size: 200%;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
}

.logbtn:hover {
  background-position: top;
  font-size: 18px;
}

.logbtn-txt {
  color: #1b1b1b;
}

.bottom-text p {
  margin-top: 60px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 13px;
  color: #00ffa3;
}

.bottom-text p img {
  width: 60px;
}

.checkboxes {
  color: #00ffa3;
}



@media (max-width: 770px) {
  #forma {
    width: 500px;
  }
  .txtb input {
    font-size: 12px;
  }

  .linija {
    width: 430px;
  }

  .txtb1 {
    margin-left: 0px;
  }

  .txtb {
    margin-bottom: 0;
  }

  .txtb span::before {
    font-size: 12px;
  }

  p {
    font-size: 12px;
  }

  .logbtn {
    margin-top: 30px;
  }
}

@media (max-width: 550px) {
  #forma {
    width: 350px;
  }

  .linija {
    width: 280px;
  }

  #forma h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  p {
    margin-top: 0;
    font-size: 8px;
  }

  .txtb {
    font-size: 8px;
  }

  .txtb span::before {
    font-size: 8px;
  }

  .bottom-text p {
    font-size: 6px;
  }

  .bottom-text p img {
    width: 30px;
  }

  .logbtn {
    font-size: 9px;
    margin-top: 20px;
  }

  .logbtn:hover {
    font-size: 11px;
  }
}

@media (max-width: 350px) {
  #forma {
    width: 250px;
  }
}

#poruka {
  color: #00ffa1;
  background: #1b1b1b;
  margin: 30px auto;
}

#pitanja,
#poruka {
  display: none;
}
