@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

html,
body {
  cursor: url(../icons/cursor.png), auto !important;
  overflow-x: hidden !important;
}

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  font-family: 'Darker Grotesque' !important;
}

/* ------------ Hero sekcija ------------ */

.header h1 {
  font-family: 'Nunito', sans-serif !important;
  font-weight: 700;
  border-right: 0.1rem solid white;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.1em;
  animation: typing 4s steps(30, end), blink-caret 1s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

.video-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.video-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #1b1b1b;
  opacity: 0.8;
}

.header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header h1 {
  color: #00ffa3;
  font-family: 'Source Code Pro', monospace !important;
  font-size: 55px !important;
  margin-top: 100px !important;
}

.tajmer {
  font-family: 'Source Code Pro', monospace !important;
  margin-top: 30px;
  color: #00ffa3;
  font-size: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header img {
  margin: 0;
}

#tajmer-poruka {
  font-weight: bold;
  font-family: 'Source Code Pro', monospace !important;
  margin-top: 20px;
  color: #00ffa3;
  font-size: 30px !important;
  text-align: center;
}

a.prijaviSe {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #00ffa3;
  font-weight: 600;
  font-size: 1.5em;
  margin: 0;
  transition: all 0.5s;
}

a.prijaviSe:hover {
  text-decoration: none;
  color: #019961;
  font-size: 2em;
  cursor: url(../icons/cursor-pointer.png), auto !important;
}

.tajmer div {
  font-family: 'Source Code Pro', monospace !important;
  padding: 10px;
  border: 2px solid #00ffa3;
  border-radius: 10px;
  margin: 5px;
  opacity: 0.7;
  background: #000;
}

.tajmer span {
  display: block;
  font-size: 25px;
}

@media (max-width: 900px) {
  .header h1 {
    font-size: 23px !important;
    text-align: center;
  }

  .header img {
    width: 300px;
  }

  .tajmer {
    margin-top: 80px;
    font-size: 30px;
  }

  .tajmer span {
    display: block;
    font-size: 15px;
  }

  #tajmer-poruka {
    font-size: 20px !important;
  }
}

/* ------------ Navbar ------------ */

.nav {
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 2;
}

.nav.scrolled {
  background-color: #161616 !important;
  transition: background-color 500ms linear;
}

.nav #brand {
  float: left;
  display: block;
  margin-left: 40px;
  line-height: 80px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
}

.nav #brand a img {
  width: 60px;
}

.nav #brand a:hover {
  text-decoration: none;
  cursor: url(../icons/cursor-pointer.png), auto !important;
}

.nav #menu {
  float: left;
  right: 40px;
  position: fixed;
}

.nav #menu li {
  padding-left: 40px;
  display: inline-block;
  font-weight: lighter !important;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 80px;
  position: relative;
  transition: all 500ms ease-out;
}

.nav #menu li a {
  font-family: Poppins !important;
  color: #00ffa3;
  transition: all 500ms ease-out;
}

.nav #menu li a:hover {
  text-decoration: none;
  color: #019961;
  transition: all 500ms ease-out;
  cursor: url(../icons/cursor-pointer.png), auto !important;
}

#toggle {
  position: absolute;
  right: 40px;
  top: 20px;
  font-weight: 300;
  color: #00ffa3;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 2;
  width: 30px;
  height: 30px;
  float: right;
  transition: all 0.3s ease-out;
  visibility: hidden;
  opacity: 0;
}

.close-btn {
  position: absolute;
  right: 30px;
  font-weight: 300;
  color: #00ffa3;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 2;
  top: -2px;
  line-height: 80px;
}

#resize {
  z-index: 2;
  top: 0px;
  position: fixed;
  background: #0f0f0f;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease-out;
}

#resize #menu {
  height: 90px;
  position: absolute;
  left: 45%;
  transform: translateX(-40%);
  text-align: center;
  display: table-cell;
  vertical-align: center;
}

#resize #menu li {
  display: block;
  text-align: center;
  padding: 10px 0;
  font-size: 50px;
  text-transform: uppercase;
  min-height: 50px;
  font-weight: bold;
  transition: all 0.3s ease-out;
}

#resize li:nth-child(1) {
  margin-top: 140px;
}

#resize #menu li a {
  color: #00ffa3;
}

#resize #menu li a:hover {
  text-decoration: none;
}

#resize.active {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 900px) {
  #toggle {
    visibility: visible;
    opacity: 1;
    margin-top: 6px;
    margin-right: 4px;
  }

  nav #brand {
    margin-left: 10px;
  }

  #resize ul li a {
    font-size: 15px;
    font-family: 'Poppins' !important;
    font-weight: lighter !important;
    color: #00ffa3;
    transition: all 500ms ease-out;
  }

  nav #menu {
    display: none;
  }
}

@media (min-width: 900px) {
  #resize {
    visibility: hidden !important;
  }
}

/* ------------ O Nama sekcija ------------ */

.content {
  position: absolute;
  margin-top: 100vh;
  width: 100%;
}

section {
  padding: 140px 0;
  height: 100vh;
}

.section-index {
  color: #00ffa3;
  font-weight: bolder;
  font-size: 20px;
  font-family: Poppins !important;
}

.section-heading {
  color: #00ffa3;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 18px;
}

.section-subheading {
  color: grey;
  margin: 10px 0;
}

.section-info {
  font-size: 24px;
  color: grey;
}

/* ------------ Timeline sekcija ------------ */
.timeline {
  /* background: rgb(51, 51, 51);
  background: linear-gradient(
    90deg,
    rgba(51, 51, 51, 1) 0%,
    rgba(20, 112, 79, 1) 50%,
    rgba(0, 255, 163, 1) 100%
  ); */
  background: url(../docs/background-image-2.jpg);
  height: auto;
  overflow-x: hidden ;
}
.timeline ul {
  padding: 50px 0;
}
.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #00ffa3;
}
.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #00ffa3;
}
.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  background: white;
}
.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}
.timeline ul li:nth-child(odd) div {
  left: 45px;
}
.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent white transparent transparent;
}
.timeline ul li:nth-child(even) div {
  left: -439px;
}
.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent white;
}
.time-text {
  padding: 0px 15px 15px 15px;
  left: 0 !important;
  transition: none !important;
  font-size: 20px !important;
}
.timeline ul li::after {
  transition: background 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #00ffa3;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}
.time-inner {
  background-color: #00ffa3;
  height: 40px;
  color: white;
  padding-left: 15px;
  font-weight: bold;
}

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li.in-view div {
    max-width:300px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent white transparent transparent;
  }
  .time-text {
    font-size: 17px !important;
  }
}
@media screen and (max-width: 400px) {
  .timeline ul li.in-view div {
    max-width:250px;
  }

}
/* ------------ Core Tim sekcija ------------ */
.team {
  height: auto;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 250px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  left: 50%;
  margin-left: -125px; /* negative half of width above */
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  right: 0%;
  bottom: 15%;
}

/* Popup arrow */
.popup .popuptext::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* ------------ Q&A sekcija ------------ */

.faq {
  background: url(../docs/background-image-2.jpg) no-repeat;
  background-size: cover;
}

/* ------------ Partneri sekcija ------------ */

.partners-wrap {
  height: 100%;
}
.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
/* Slider */
.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
  height: 150px;
  object-fit: contain;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
/* ------------ Footer ------------ */

.footer {
  background: url(../docs/background-image.jpg) no-repeat;
  background-size: cover;
}

#media,
#address,
#mail {
  /* text-align: center !important; */
}

.footer .container {
  padding: 160px 0;
}

.footer li,
p,
h4 {
  font-size: 24px !important;
}

.footer h4 {
  font-weight: lighter;
  color: #fff;
}

.footer p {
  color: #00ffa3;
  font-weight: lighter;
}

.footer li {
  font-weight: lighter;
  color: #fff;
  padding-left: 20px;
  font-size: 18px !important;
}
.footer li:first-child {
  padding-left: 0;
} 
#media ul {
  list-style: none;
}

#media ul li {
  display: inline-block;
}
.video {
  width: 650px;
}
@media (max-width: 900px) {
  .footer .container {
    width: 92% !important;
  }
}

@media (max-width: 1000px) {
  .video {
    width: 400px;
  }
}
@media (max-width: 760px) {
  .video {
    width: 100%;
  }
  .footer p, .footer h4 {
    text-align: center;
  }
  #media ul {
    width: 150px;
    position: relative;
    left: 50%;
    margin-left: -75px;
  }
  .margin-top-xs {
    margin-top: 30px;
  }
}