@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

html,
body {
  cursor: url(../icons/cursor3.png), auto !important;
}

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  font-family: 'Darker Grotesque' !important;
}

/* ------------ Hero sekcija ------------ */

.header h1 {
  font-family: 'Nunito', sans-serif !important;
  font-weight: 700;
  border-right: 0.1rem solid white;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.1em;
  animation: typing 4s steps(30, end), blink-caret 1s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

.video-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.video-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #1b1b1b;
  opacity: 0.8;
}

.header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header h1 {
  color: #00ffa3;
  font-family: 'Source Code Pro', monospace !important;
  font-size: 55px !important;
  margin-top: 100px !important;
}

.tajmer {
  font-family: 'Source Code Pro', monospace !important;
  margin-top: 80px;
  color: #00ffa3;
  font-size: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header img {
  margin: 0;
}

#tajmer-poruka {
  font-weight: bold;
  font-family: 'Source Code Pro', monospace !important;
  margin-top: 0;
  color: #00ffa3;
  font-size: 30px !important;
  text-align: center;
}

.tajmer div {
  font-family: 'Source Code Pro', monospace !important;
  padding: 10px;
  border: 2px solid #00ffa3;
  border-radius: 10px;
  margin: 5px;
  opacity: 0.7;
  background: #000;
}

.tajmer span {
  display: block;
  font-size: 25px;
}

@media (max-width: 900px) {
  .header h1 {
    font-size: 23px !important;
    text-align: center;
  }

  .header img {
    width: 300px;
  }

  .tajmer {
    margin-top: 80px;
    font-size: 30px;
  }

  .tajmer span {
    display: block;
    font-size: 15px;
  }

  #tajmer-poruka {
    font-size: 20px !important;
  }
}

/* ------------ Navbar ------------ */

.nav {
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 2;
}

.nav.scrolled {
  background-color: #161616 !important;
  transition: background-color 500ms linear;
}

.nav #brand {
  float: left;
  display: block;
  margin-left: 40px;
  line-height: 80px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
}

.nav #brand a img {
  width: 60px;
}

.nav #brand a:hover {
  text-decoration: none;
  cursor: pointer;
}

.nav #menu {
  float: left;
  right: 40px;
  position: fixed;
}

.nav #menu li {
  padding-left: 40px;
  display: inline-block;
  font-weight: lighter !important;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 80px;
  position: relative;
  transition: all 500ms ease-out;
}

.nav #menu li a {
  font-family: Poppins !important;
  color: #00ffa3;
  transition: all 500ms ease-out;
}

.nav #menu li a:hover {
  text-decoration: none;
  color: #019961;
  transition: all 500ms ease-out;
  cursor: pointer;
}

#toggle {
  position: absolute;
  right: 40px;
  top: 20px;
  font-weight: 300;
  color: #00ffa3;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 2;
  width: 30px;
  height: 30px;
  float: right;
  transition: all 0.3s ease-out;
  visibility: hidden;
  opacity: 0;
}

.close-btn {
  position: absolute;
  right: 30px;
  font-weight: 300;
  color: #00ffa3;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 2;
  top: -2px;
  line-height: 80px;
}

#resize {
  z-index: 2;
  top: 0px;
  position: fixed;
  background: #0f0f0f;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease-out;
}

#resize #menu {
  height: 90px;
  position: absolute;
  left: 45%;
  transform: translateX(-40%);
  text-align: center;
  display: table-cell;
  vertical-align: center;
}

#resize #menu li {
  display: block;
  text-align: center;
  padding: 10px 0;
  font-size: 50px;
  text-transform: uppercase;
  min-height: 50px;
  font-weight: bold;
  transition: all 0.3s ease-out;
}

#resize li:nth-child(1) {
  margin-top: 140px;
}

#resize #menu li a {
  color: #00ffa3;
}

#resize #menu li a:hover {
  text-decoration: none;
}

#resize.active {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 900px) {
  #toggle {
    visibility: visible;
    opacity: 1;
    margin-top: 6px;
    margin-right: 4px;
  }

  nav #brand {
    margin-left: 10px;
  }

  #resize ul li a {
    font-size: 15px;
    font-family: 'Poppins' !important;
    font-weight: lighter !important;
    color: #00ffa3;
    transition: all 500ms ease-out;
  }

  nav #menu {
    display: none;
  }
}

@media (min-width: 900px) {
  #resize {
    visibility: hidden !important;
  }
}

/* ------------ O Nama sekcija ------------ */

.content {
  position: absolute;
  margin-top: 100vh;
  width: 100%;
}

section {
  padding: 140px 0;
  height: 100vh;
}

.section-index {
  color: lightgreen;
  font-weight: bolder;
  font-size: 20px;
  font-family: Poppins !important;
}

.section-heading {
  color: grey;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 18px;
}

.section-subheading {
  color: grey;
  margin: 10px 0;
}

.section-info {
  font-size: 24px;
  color: grey;
}

/* ------------ Timeline sekcija ------------ */

.timeline {
  background: url(../docs/background-image-3.jpg) no-repeat;
  background-size: cover;
}

/* ------------ Core Tim sekcija ------------ */

/* ------------ Q&A sekcija ------------ */

.faq {
  background: url(../docs/background-image-2.jpg) no-repeat;
  background-size: cover;
}

/* ------------ Partneri sekcija ------------ */

/* ------------ Footer ------------ */

.footer {
  background: url(../docs/background-image-3.jpg) no-repeat;
  background-size: cover;
}

#media,
#address,
#mail {
  text-align: center !important;
}

.footer .container {
  padding: 160px 0;
}

.footer li,
p,
h4 {
  font-size: 24px !important;
}

.footer h4 {
  font-weight: lighter;
  color: #fff;
}

.footer p {
  color: grey;
  font-weight: lighter;
}

.footer li {
  font-weight: lighter;
  color: #fff;
  padding-left: 20px;
  font-size: 18px !important;
}

#media ul {
  list-style: none;
}

#media ul li {
  display: inline-block;
}

@media (max-width: 900px) {
  .timeline {
    background: url(../docs/background-image-3-manja.jpg) no-repeat;
    background-size: cover;
  }

  .faq {
    background: url(../docs/background-image-2-manja.jpg) no-repeat;
    background-size: cover;
  }

  .footer .container {
    width: 92% !important;
    background: url(../docs/background-image-3-manja.jpg) no-repeat;
    background-size: cover;
  }
}
